body {
    overflow-x: hidden;
    background-color: #fbf9fe;
}

.hd {
    padding: 2em 0;
}

.cell .page_title {
    color: #225fba;
}

.page_title {
    text-align: center;
    font-size: 34px;
    color: #3cc51f;
    font-weight: 400;
    margin: 0 15%;
}

.cell .fa-star {
	color: #e28181;
}